.password .postion-pic{
  margin-top: 30px;
  padding-bottom: 100px;
}
.password .pic{
  width: 65px;
  height: 65px;
}
.password .y-code{
  color: #000000;
  margin-right: 15px;
}
.password .empt{
  margin-top: 10px;
}
